<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Password Reset - Techblitz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
    <%- include('./partials/styles') %>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: var(--background);
        color: var(--foreground);
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        min-height: 100vh;
      }

      .container {
        padding: 5rem;
        box-sizing: border-box;
      }

      .highlight {
        color: var(--primary);
        font-weight: 800;
      }

      h1 {
        font-size: 3.5rem;
        font-family: 'Inter', sans-serif;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.8;
        margin: 1.5rem 0;
        text-align: justify;
      }

      main {
        margin-bottom: 3rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Password Reset - <span class="highlight">Techblitz</span></h1>
      </header>

      <main>
        <p class="hello">
          Dear <strong><%= USERNAME %></strong>,
        </p>

        <p>
          We’re writing to confirm that the password associated with your Techblitz account (<strong><%= EMAIL %></strong>) was successfully reset on <strong><%= UPDATED_AT %></strong>.
        </p>

        <p>
          If you initiated this reset, no further action is needed. Your new password is now active, and you can continue accessing your account as usual.
        </p>

        <p>
          However, if you did not request a password reset, we strongly recommend that you take immediate steps to secure your account. Please contact our support team as soon as possible so we can investigate any suspicious activity and help you restore account security.
        </p>

        <p class="hello">
          Stay safe,<br />
          <span class="highlight">The Techblitz Team</span>
        </p>
      </main>

      <footer>
        <hr />
        <p>This is an automated message. Please do not reply directly to this email.</p>
      </footer>
    </div>
  </body>
</html>
